<!DOCTYPE html>
<html xmlns:ng="http://angularjs.org">
    <head>
        <meta charset="utf-8" />
        <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico" />
        <title><%= title %></title>
    </head>
    <body>
        <hr />
        <section>
            <% if ( user ) { %>
                <a href="/signout">Sign out</a>
            <% } else { %>
                <a href="/signup">Signup</a>
                <a href="/signin">Signin</a>
            <% } %>
        </section>
        <hr />
        <section ng-view></section>

        <script>
            window.user = <%- user || 'null' %>;
        </script>

        <script src="/lib/angular/angular.min.js"></script>
        <script src="/lib/angular-route/angular-route.min.js"></script>

        <script src="/example/example.client.module.js"></script>
        <script src="/example/controllers/example.client.controller.js"></script>
        <script src="/example/config/example.client.routes.js"></script>

        <script src="/user/users.client.module.js"></script>
        <script src="/user/services/authentication.client.service.js"></script>

        <script src="/application.js"></script>
    </body>
</html>