<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico" />
        <title><%= title %></title>
    </head>
    <body>
        <img src="/img/logo.png" alt="Logo" />
        <hr />
        <% if ( userFullName ) { %>
            <h2><%= title %> <%= userFullName %></h2>
            <a href="/signout">Sign out</a>
        <% } else { %>
            <a href="/signup">Signup</a>
            <a href="/signin">Signin</a>
        <% } %>
        <hr />

    </body>
</html>